body { 
  overflow: hidden; 
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #eee;
  transition: background-color 1s ease-in-out;
}
#c {
  position: relative;
  z-index: 1;
  filter: contrast(3);
}
h1 {
  width: 100vw;
  height: 100vw;
  position: absolute;
  z-index: 2;
  color: #eee;
  transition: color 1s ease-in-out;
  font-size: 8em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center; 
  cursor: pointer;
}
p#clickHere {
  text-transform: uppercase;
  padding: 1em;
}#buttons {
	position: fixed;
	z-index: 2;
  	bottom: 0;
  	left: 0;
  	width: 100vw;
  	height: 260px;
	display:none;
	background-color: #a67d83;
}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 100%;
  height: 40%;
}

.button1 {
  background-color: #97a38d; 
  color: white; 
  border: 2px solid #97a38d;
}

.button1:hover {
  border: 2px solid white;
  color: white;
}

.button2 {
  background-color: #bf575e; 
  color: black; 
  border: 2px solid #bf575e;
}

.button2:hover {
  border: 2px solid white;
  color: white;
}
